{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="yellow_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>About</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <i><img src="{% static '' %}images/title.png" alt="title"/></i>

                    <span>It is a long established fact that a reader will be distracted by the readable content of a
                        <br> page when looking at its layout. The point of using Lorem
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about_box">
                    <h3>{{ about.name }}</h3>
                    <p>{{ about.description|slice:':500'|safe }}</p>
                    <a href="{% url 'about' %}">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                <div class="about_img">
                    <figure><img src="{{ about.image.url }}" alt="about_img"></figure>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
