{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="slider_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="slider_cont">
                                            <h3>Discover Restaurants<br>That deliver near You</h3>
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.</p>
                                            <a class="main_bt_border" href="{% url 'recipe' %}">Order Now</a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="slider_image full text_align_center">
                                            <img class="img-responsive" src="{% static '' %}images/burger_slide.png" alt="img-responsive"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="resip_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourheading">
                    <h2>Our Recipes</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">

                            {% for recipe in recipes %}
                            <div class="item">
                                <div class="product_blog_img">
                                    <img src="{{ recipe.image.url }}" alt="recipeimg"/>
                                </div>
                                <div class="product_blog_cont">
                                    <h3>{{ recipe.name }}</h3>
                                    <h4><span class="theme_color">$</span>{{ recipe.price }}</h4>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg_bg">
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <i><img src="{% static '' %}images/title.png" alt="about-img"/></i>
                        <h2>About Our Food & Restaurant</h2>
                        <span>It is a long established fact that a reader will be distracted by the readable content of a
                            <br> page when looking at its layout. The point of using Lorem
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="about_box">
                        <h3>{{ about.name }}</h3>
                        <p>{{ about.description|slice:':500'|safe }}</p>
                        <a href="{% url 'home' %}">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                    <div class="about_img">
                        <figure><img src="{{ about.image.url }}" alt="about-img"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <i><img src="{% static '' %}images/title.png" alt="titleimg"/></i>
                        <h2>Our Blog</h2>
                        <span>when looking at its layout. The point of using Lorem</span>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                    <div class="blog_box">
                        <div class="blog_img_box">
                            <figure><img src="{{ blog.image.url }}" alt="blog_img"/>
                                <span>{{ blog.created_at|date }}</span>
                            </figure>
                        </div>
                        <h3>{{ blog.name }}</h3>
                        <p>{{ blog.description|slice:':300'|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="Client">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <i><img src="{% static '' %}images/title.png" alt="titleimg" /></i>
                        <h2>Our Client</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="Client_box">
                        <img src="{{ client.avatar.url }}" alt="clientimg"/>
                        <h3>{{ client.get_full_name }}</h3>
                        <p>{{ client.bio|slice:':400'|safe }}</p>
                        <i><img src="{% static '' %}images/client_icon.png" alt="client_icon"/></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
