{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="yellow_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Our Recipes</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="resip_section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    {% for recipe in recipes %}
                    <div class="item">
                        <div class="product_blog_img">
                            <img src="{{ recipe.image.url }}" alt="recipeimg" />
                        </div>
                        <div class="product_blog_cont">
                            <h3>{{ recipe.name}}</h3>
                            <h4><span class="theme_color">$</span>{{ recipe.price }}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
